/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {


    .top-nav-collapse {
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
    font-size: 12pt;
}
.home-section{
    padding-top: 110px;

    background: #fff;
    font-size: 12pt;}
.about-section {
       font-size: 12pt;
    padding-top: 120px;
    text-align: center;
    background: #eee;
}

.services-section {
    font-size: 12pt;
    padding-top: 150px;

    background: #fff;
}
.product-section {
    text-align: center;
    padding-top: 150px;

    background: #eee;
}


.contact-section {

    padding-top: 100px;
    text-align: center;
    background: #eee;
}

.product2{ margin: auto; }
.about {width: 50%; float: left; text-align: right; padding-right: 50px; border-right: 2px dotted black; font-size: 12pt;}
.vision {width: 50%;float: left; text-align: left; padding-left: 40px;font-size: 12pt;}

.about h2 {font-size: 23pt; color:#3e50b4;}
.vision h2 {font-size: 18pt; color:#3e50b4;}

@media only screen and (max-width : 640px) {.about {width: 100%; text-align: center; padding:10px;border-right: 0px dotted black; border-bottom: 2px dotted black; font-size: 12pt;}
.vision {width:  100%; float: left; text-align: center; padding:10px;font-size: 12pt;}
    .logo {width: 100px; position: relative; top:-2px;}
.bs-example {display: none;}
    .header2 {display: block}
    .home-section{
    padding-top: 50px;
}
}


h1,h2,h3,h4{
    margin: 0;
    color: #3e50b4;
    padding-top: 0px;

    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.h2 img {
width: 100%;}



.bs-example{
	margin: 5px;
    height: 350px;
}

/*product style*/
#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:5; width:100%; height:100%; display:none; }
#content {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white; font-size: 14pt; }
#content:target, #content:target + #cover{ display:block; opacity:2; }
.cancel { display:block; position:absolute; top:3px; right:2px;  color:black; height:30px; width:35px; font-size:30px; text-decoration:none; text-align:center; font-weight:bold; }
#content p {  color:black; padding:20px;
}
#content1 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white; font-size: 14pt; }
#content1:target, #content1:target + #cover{ display:block; opacity:2; }
#content1 p {  color:black; padding:20px;
}

#content2 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white; font-size: 14pt; }
#content2:target, #content2:target + #cover{ display:block; opacity:2; }
#content2 p {  color:black; padding:20px;
}

#content3 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white;font-size: 14pt; }
#content3:target, #content3:target + #cover{ display:block; opacity:2; }
#content3 p {  color:black; padding:20px;
}
#content4 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white;font-size: 14pt; }
#content4:target, #content4:target + #cover{ display:block; opacity:2; }
#content4 p {  color:black; padding:20px;
}
#content5 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white;font-size: 14pt; }
#content5:target, #content5:target + #cover{ display:block; opacity:2; }
#content5 p {  color:black; padding:20px;
}
#content6 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white;font-size: 14pt; }
#content6:target, #content6:target + #cover{ display:block; opacity:2; }
#content6 p {  color:black; padding:20px;
}
#content7 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center; border:5px solid #cccccc; border-radius:10px;  background-color: white; font-size: 14pt; }
#content7:target, #content7:target + #cover{ display:block; opacity:2; }
#content7 p {  color:black; padding:20px;
}
#content8 {  width:100%; margin:0 auto; position:relative; z-index:10; display:none; text-align: center]; border:5px solid #cccccc; border-radius:10px;  background-color: white;}
#content8:target, #content8:target + #cover{ display:block; opacity:2; }
#content8 p {  color:black; padding:20px;
}
