.da-thumbs {
	list-style: none;
	width: 984px;
	height: 600px;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.da-thumbs li {
	float: left;
	margin: 5px;
	background: #fff;
	padding: 18px;
	position: relative;
	box-shadow: 3px 3px 1px rgba(0,0,0,0.1);

}
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
    width: 200px;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
.da-thumbs li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}
.product-img{
	width: 10%;
}
@media only screen and (max-width : 640px){
.da-thumbs {
	list-style: none;
	width: 100%;
	height: 600px;
	position: relative;
	margin:  auto;
	padding: 0;
}
    .da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
    width: 250px;
}
	.product-img{
		width: 90%;
	}
}

@media (min-width : 650px) and (max-width : 1200px) {
	.da-thumbs {
	list-style: none;
	width: 800px;
	height: 600px;
	position: relative;
	margin: 20px auto;
	padding: 0;}


}
@media (min-width: 768px){
	.navbar-nav {
	float: right;
	margin-top: 50px;

}
.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-size:12pt;
}
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:transparent;
	border-bottom:2px solid #F44336;

}

.navbar-inverse {
	background-color: #3F51B5;
	border-color: #3F51B5;
}
.logo{
	margin-top:15px;
}
.panel-success > .panel-heading {
	color: white;
	background-color: #3F51B5;
	border-color: #3F51B5;
}
.panel-body {
	padding: 15px;
	text-align: left;
}
