html { 
    position: relative;
    min-height: 100%;
  background: url(img/back3.jpg) no-repeat center center fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
    color:white;
    font-family: HelveticaNeue-Light;}

body {
   
    margin: 0 0 200px; /* bottom = footer height */
}
.header {  background:#fff;
    height: 100px;
    width:100%;
position: relative;
top:0px;
left: 0; padding:5px;
    right:0;
}
    
.content{ position: relative;
    top:30%;
    
}
.text {

   
    width:100%;
 padding:5px;
text-align:center;
    background:rgba(1,60,128,0.5);
    line-height: 1.3; font-size:25pt;

}    
.address{background: url(img/addres.png);
position: absolute;
right: 10px;
height:200px;
width: 380px;
    
}
.address a {
    font-size: 17pt;
    position: absolute;
    left: 10px;
    top:25px;
}
.footer {
    font-size: 11pt;
    position: absolute;
    bottom: 0px;
    width: 100%;

height: 10px;
    left: 0px;
    text-align: center;
    color: #7cc2e8;}    
